body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.detailedItemsList {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0;
}

.differenceHighLight {
  background-color: #ccc;
}

.featuresTitlesList {
  list-style: none;
  text-align: left;
  font-weight: bold;
  /* in media query for other width this should be normal */
  white-space: nowrap;
  padding: 0;
}

.selectedItemsList {
  padding: 0;
}

.featuresDetailedItemsListWrap {
  display: flex;
  align-items: flex-end;
  width: 80%;
}

/* fix ie 11 flex-box extra stretch */
.featuresDetailedItemsListWrap > div {min-width: 1px;}

.selectedItemsTitleWrap {
  color: rgb(4, 81, 174);
}

.mainWrap {
  display: flex;
  flex-direction: row;
}

.badgesWrap {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 3em;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
}

.productImageWrap {
  height: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.productImageWrap img {
  max-height: 9em;
  max-width: 9em;
}

.badges-title-wrap {
  display: flex;
  align-items: flex-end;
  height: 3em;/*use vars here*/
}

.comparedItemsListWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.selectedItemsContentWrap {
  padding-right: 1em;
}

.deleteButtonWrap {
  padding-right: 1em;
  text-align: right;
}

.productTitleWrap {
  color:rgb(4, 81, 174);
}

.salePriceWrap {
  padding-top: 1em;
}

.mainProductInfoWrap {
  padding-bottom: 1em;
}

.iconDeleteButton {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.iconDeleteButton svg {
  fill: rgb(4, 81, 174);
}